.game-board {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.border-one {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}
.border-two {
  border-top: 2px solid black;
  border-bottom: 2px solid black; 
}
.border-three {
  border-right: 2px solid black;
  border-left: 2px solid black;
}